<div class="col-lg-8">
  <p style="color: green"><%= notice %></p>

  <%= render @project %>

  <div class="form-group">
    <%= link_to "Edit this project", edit_project_path(@project), class: "btn btn-primary btn-lg" %> |
    <%= button_to "Destroy this project", @project, method: :delete, class: "btn btn-danger btn-lg" %>
  </div>

</div>