<div class="col-lg-8">
  <div class="card rounded-0 shadow mt-5 mb-5">
    <div class="card-body">
      <p style="color: green"><%= notice %></p>

      <%= render @course %>

      <div class="form-group">
        <%= link_to "Edit this course", edit_course_path(@course), class: "btn btn-warning btn-lg" %> 
        <%= button_to "Destroy this course", @course, method: :delete, class: "btn btn-danger btn-lg" %>
      </div>
    </div>
  </div>
</div>